<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <form>
      <div class="form-group">
        <label for="exampleInputEmail1">IP Address</label>
        <input type="text" class="form-control" id="inputIP" aria-describedby="IPAddress" placeholder="Enter email">
        
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Port</label>
        <input type="text" class="form-control" id="inputPort" placeholder="Port">
      </div>
  </form>
  <br>
  <button id = "togglebutton" type="button" class="btn btn-success">Toggle the LEDs!</button>
  <img *ngIf="poke" width = "300" src={{poke.sprites.front_default}} 
  alt="gr... where my poke at?" />
    <img *ngIf="poke" width = "300" src={{poke.sprites.back_default}} 
  alt="gr... where my poke at?" />
</div>